[submodule "external/vsomeip"]
	path = external/vsomeip
	url = git@github.com:tuxiaodi13/vsomeip.git
[submodule "external/boost-cmake"]
	path = external/boost-cmake
	url = git@github.com:tuxiaodi13/boost-cmake.git
	branch = 3.1.20.2
